#!/usr/bin/make -f

export PYBUILD_NAME=netplan

override_dh_auto_install:
	dh_auto_install --buildsystem=pybuild
	rm $(CURDIR)/debian/python-netplan/usr/bin/netplan-parser
	rm $(CURDIR)/debian/python3-netplan/usr/bin/netplan-parser

override_dh_auto_clean:
	dh_auto_clean --buildsystem=pybuild
	rm -rf netplan.egg-info

%:
	dh "$@" --buildsystem=pybuild --with=python2,python3
