#!/usr/bin/make -f

export PYBUILD_NAME=netplan
export DH_VERBOSE=1
export LC_ALL=C.UTF-8
export LANG=C.UTF-8


include /usr/share/dpkg/pkg-info.mk

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_test:
	tox

override_dh_auto_install:
	dh_auto_install
	rm $(CURDIR)/debian/python3-netplan/usr/bin/netplan-parser

override_dh_installchangelogs:
	dh_installchangelogs -X CHANGES.md
	for pkg in $(shell dh_listpackages); do \
		install -m 644 CHANGES.md "debian/$$pkg/usr/share/doc/$$pkg/NEWS"; \
	done

override_dh_auto_clean:
	dh_auto_clean --buildsystem=pybuild
	rm -rf netplan.egg-info
